@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500&family=Roboto:ital,wght@0,300;0,400;0,500;1,100&display=swap');



.Canvas {
  position: absolute;
  top: 0;
  left: 0;
}
